@page
@model Hotel_Reception_PROIECT.Pages.Parcari.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Parcare</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Parcare.ID" />
            <div class="form-group">
                <label asp-for="Parcare.Client" class="control-label"></label>
                <input asp-for="Parcare.Client" class="form-control" />
                <span asp-validation-for="Parcare.Client" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parcare.NumarCamera" class="control-label"></label>
                <input asp-for="Parcare.NumarCamera" class="form-control" />
                <span asp-validation-for="Parcare.NumarCamera" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parcare.LocParcareOcupat" class="control-label"></label>
                <input asp-for="Parcare.LocParcareOcupat" class="form-control" />
                <span asp-validation-for="Parcare.LocParcareOcupat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parcare.DataOcuparii" class="control-label"></label>
                <input asp-for="Parcare.DataOcuparii" class="form-control" />
                <span asp-validation-for="Parcare.DataOcuparii" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parcare.DataEliberarii" class="control-label"></label>
                <input asp-for="Parcare.DataEliberarii" class="form-control" />
                <span asp-validation-for="Parcare.DataEliberarii" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
