@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>
   

<body id="home">
    
    <div class="content">



        <h1 class="display-4">Bun venit pe site-ul hotelului nostru!</h1>
        <h2> Ne era dor să te revedem:))</h2>


        <h3>O Ședere de Vis - Unde Comoditatea Întâlnește Eleganța!</h3>
       
    </div>
   
    <style>
 

    
    
   .pageTitle {
    text-align:left; 
    color: white; 
    font-size: 38px; 
    }
    </style>


  
</body>
</html>



