@page
@model PrivacyModel
@{
    ViewData["Title"] = "Politica De Confidențialitate";
}
<h1>@ViewData["Title"]</h1>


<p> Mulțumim că ați accesat politica noastră de confidențialitate.
</p>

<p>
    Această pagină vă informează despre politicile noastre cu privire la colectarea, utilizarea și dezvăluirea datelor cu caracter personal atunci când utilizați Serviciul nostru și opțiunile pe care le-ați asociat cu acele date.
</p>

<h2>Colectarea și utilizarea informațiilor</h2>

<p>
    Colectăm mai multe tipuri de informații în diverse scopuri pentru a vă oferi și îmbunătăți experiența dumneavoastră cu serviciile noastre.
</p>

<h2>Tipuri de date colectate</h2>

<h3>Date personale</h3>

<p>
    În timpul utilizării Serviciului nostru, este posibil să vă cerem să ne furnizați anumite informații de identificare personală care pot fi folosite pentru a vă contacta sau a vă identifica („Date cu caracter personal”). Informațiile de identificare personală pot include, dar nu se limitează la:
</p>

<ul>
    <li>Adresa de E-mail</li>
    <li>Nume și Prenume</li>
    <li>Număr Telefon</li>
    <li> Țară, Oraș, Cod Poștal</li>
</ul>


<h2>Utilizarea Datelor</h2>

<p>
     Noi folosim datele colectate pentru diferite scopuri:
</p>

<ul>
    <li>Pentru a furniza și menține serviciul nostru</li>
    <li>Pentru a vă informa cu privire la modificările aduse serviciilor noastre</li>
    <li>Pentru a oferi suport clienților</li>
   
</ul>

<h2>Dezvăluirea datelor</h2>

<p>
    Putem dezvălui informații cu caracter personal pe care le colectăm sau dumneavoastră le furnizați:
</p>

<ul>
    <li>Conform prevederilor legale</li>
    <li>În orice scop legal</li>
 
</ul>

<h2>Contactează-ne</h2>

<p>
    Dacă aveți întrebări despre această politică de confidențialitate, vă rugăm să ne contactați la adresa de E-mail al hotelului nostru.
</p>

<p>
    Ultima actualizare: 10.01.2024
</p>

